// home view

.org {
  &-container {
    @include grid-frame();
  }
  &-profile {
    @include grid-content();
    background-color: $color-text;
    padding: 0;
    &-header {
      height: 20rem;
      background-color: $color-branding;
    }
    &-thumb {
      background-color: $color-base;
    }
    &-description {
      background-color: $color-base;
    }
  }
  &-products {
    padding: 2rem 0rem;
    background-color: $color-accent;
    &-table {
      // height: 100rem;
      margin: 0rem 2rem;
      background-color: $color-base;
    }    
  }
  &-order {
    @include grid-block(
      $orientation: vertical,
      $size: 4
    );
    background-color: $color-accent;   
    &-description {
      @include grid-content(
        $size: shrink
      );
      height: 20vh;
      background-color: $color-accent;
    }
    &-items {
      @include grid-content(
        $size: shrink
      );
      height: 65vh;
      background-color: $color-branding;
    }
    &-item {
      background-color: $color-base;
    }
    &-checkout {
      @include grid-content(
        $size: shrink
      );
      height: 15vh;
      background-color: $color-accent;
      &-total {
      
      }
      &-button {

      }
    }
  }
}