<div class="availabilty-update">
  <h3>Availability</h3>
  <table>
    <thead>
      <tr>
        <th width="50">Date Available</th>
        <th width="200">Quantity Available</th>
        <th width="50"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="availability in plant.unitAvailability track by $index">
        <td>{{availability.date | date:format:shortDate}}</td>
        <td>{{availability.quantity}}</td>
        <td><button ng-click="removePlantAvailability(plant)">delete</button></td>
      </tr>      
    </tbody>  
  </table>
  <p ng-show="plant.unitAvailability.length < 1">No Availability Yet</p>
  <form class="form-horizontal" data-ng-submit="addPlantAvailability(plant)" novalidate>
    <formly-form model="newAvailability" fields="formUpdateAvailability">
      <input type="submit" class="button" value="Add Availability">          
    </formly-form>        
  </form>  
  <div class="button" ng-click="updatePlant(plant, $index)">Save Changes</div> 
</div>