<div class="availabilty-update">
  <table>
    <thead>
      <tr>
        <th width="30%">Date Available</th>
        <th width="20%">Quantity Available</th>
        <th width="30%" ng-show="orgVm.userPermission == 'user'"></th>
        <th width="30%"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="availability in plant.unitAvailability track by $index">
        <td>{{availability.date | date:format:shortDate}}</td>
        <td>{{availability.quantity}}</td>
        <td ng-show="orgVm.userPermission == 'user'"><input ng-model="quantity"></input></td>
        <td ng-show="orgVm.userPermission == 'user'"><button ng-click="orgVm.addToOrder(orgVm.order, plant, quantity, availability)">order</button></td>
        <td ng-show="orgVm.userPermission == 'owner'"><button ng-click="plantsVm.removeAvailability(plant, $index)">delete</button></td>
      </tr>      
    </tbody>  
  </table>
  <p ng-show="plant.unitAvailability.length < 1">No Availability Yet</p>
  <form ng-show="orgVm.userPermission == 'owner'"
        class="form-horizontal" data-ng-submit="plantsVm.updateAvailability(plant, plantsVm.newAvailability)" novalidate>
    <formly-form model="plantsVm.newAvailability" fields="plantsVm.formUpdateAvailability">
      <input type="submit" class="button" value="Add Availability">
    </formly-form>        
  </form>  
  <div  ng-show="orgVm.userPermission == 'owner'"
        class="button" ng-click="plantsVm.updatePlant(plant)">Save Changes</div> 
</div>