<table>
  <thead>
    <tr>
      <th rowspan="2" width="400">
        <a ng-click="order('commonName')">Plant</a>
        <i ng-class="{'fa-sort-desc': query == 'commonName' && reverse == true,'fa-sort-asc': query == 'commonName' && reverse == false}" class="fa"></i>
        <input type="text" ng-model="search.commonName">
      </th>
      <th rowspan="2" width="100">
        <a ng-click="order('scientificName')">Price / Unit</a>
        <i ng-class="{'fa-sort-desc': query == 'scientificName' && reverse == true, 'fa-sort-asc': query == 'scientificName' && reverse == false}" class="fa"></i>
      </th>
      <th width="300" colspan="5">Availability</th>
    </tr>
    <tr>
      <th width="200" ng-repeat="date in dates">{{date}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="plant in plantsGrid.data | orderBy:query:reverse | filter:search | filter:fullSearch">
      <td>
        <p class="plant-form-common-name">{{plant.commonName}}</p>
        <p class="plant-form-scientific-name">{{plant.scientificName}}</p>
        <p class="plant-form-size">{{plant.unitSize}}</p>
      </td>
      <td>{{plant.unitPrice}} <br> {{plant.royalty}} </td>
      <td ng-repeat="availability in plant.unitAvailability">
        <div class="">
          <p>{{availability.quantity}}</p>
        </div>
      </td>
      <td ng-show="plant.unitAvailability.length < 2">
        <p>No new availability</p>
      </td>
      <td ng-show="plant.unitAvailability.length < 3">
        <p>No new availability</p>
      </td>
      <td ng-show="plant.unitAvailability.length < 4">
        <p>No new availability</p>
      </td>
      <td ng-show="plant.unitAvailability.length < 5">
        <p>No new availability</p>
      </td>
      <h2 ng-show="(userPlantsGrid.data | filter:search | filter:fullSearch).length == 0">Looks like there are no plants that match your search. Try again!</h2>
    </tr>
  </tbody>
</table> 