<!-- products display -->
<div class="org-products">     
  <div class="org-products-table"> 
  heelo         
    <orders-table ng-show="orgVm.userAuthorization == true || orgVm.userPermission == 'owner'"></orders-table>         
  </div>
    <div class="org-request" ng-show="orgVm.userAuthorization == false && orgVm.userPermission == 'user'">
      <h2>Request authorization</h2>            
      <div  class="button" ng-click="orgVm.requestAuthorization(user, organization)">
        Request
      </div>
    </div>       
</div>