<section class="org" ng-controller="OrganizationsController" ng-init="findOrganization()">
  <div class="org-container" ng-switch on="userPermission">
    <div class="org-profile">      

      <div class="org-profile-header" 
        ng-style="{ 'background': 'url(' + organization.profileImage + ')' + ' no-repeat center center fixed' }">
        <div class="org-profile-thumb"></div>
        <div class="org-profile-description"></div>
        <div class="button" ngf-select="uploadProfileImage($file, 'profile-image')">Update Profile Image</div>
      </div>
      
      <!-- products display -->
      <div class="org-products">     
        <!-- Owner Table -->
        <div class="org-products-table" ng-switch-when="owner">          
          <plant-owner-table></plant-owner-table>          
        </div>      
        <!-- User Table -->
        <div class="org-products-table" ng-switch-when="user">
          <plant-user-table></plant-user-table>         
        </div>
      </div>
    </div>

    <!-- User order sidebar -->
    <div class="org-order" ng-switch-when="user">
      <div class="org-order-description"></div>
      <div class="org-order-items">
        <div class="org-order-item"></div>        
      </div>
      <div class="org-order-checkout">
        <div class="org-order-checkout-total"></div>
        <button class="org-order-checkout-button">Checkout</button>
      </div>
    </div>

  </div>
</section>