<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
	{% endif %}
</body>

<div zf-modal="" id="signinModal" class="modal-alert">
 <a zf-close="" class="close-button">×</a>
<section class="row" ng-controller="AuthenticationController" class="modal-alert-content">
	<div class="modal-oauth">
	<a href="" class="button secondary oauth">sign in with google</a>
	</div>
	<div class="">
		<form name="userForm" data-ng-submit="signin()" class="signin form-horizontal" novalidate autocomplete="off">			
       <formly-form model="credentials" fields="formSigninUser">
        <button type="submit" id="signin" ng-disabled="userObj.$invalid">Submit</button>
      </formly-form>
      {{error}}
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>
				<div ng-show="error" class="text-center text-danger">
					<strong ng-bind="error">{{error}}</strong>
				</div>
		</form>
	</div>
</section>
</div>

<div zf-modal="" id="registerModal">
  <a zf-close="" class="close-button">×</a>
<section class="row" ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">Or with your email</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Name</label>
					<input type="text" required id="firstName" name="displayName" class="form-control" ng-model="credentials.firstName" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div ng-show="error" class="text-center text-danger">
					<strong ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
</div>

<zf-notification-set class="beach-finder-error" id="signin-success" position="top"></zf-notification-set>

</html>